<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/train.png"/>
  </head>
  <body>
    <div class="login-page" style="background-image: url(http://photos.tuchong.com/1098719/f/29301040.jpg); background-size: cover ">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow" style="border-radius: 20px;" >
          <div class="row">
            <!-- Form Panel    -->
            <div class="col-lg-6">
              {% for message in get_flashed_messages() %}
                <div style="position: relative;padding: 7px 10px;margin-left: 17px;margin-bottom: 5px;color: white;font-size: 15px;background-color: #DB6574; border-radius: 5px">{{ message }}</div>
              {% endfor %}
              <div class="form d-flex align-items-center" style="border-radius: 20px;" >
                <div class="content">
                  <form method="post" class="text-left form-validate">
                    <div class="form-group-material">
                      <input id="register-username" type="text" name="user_id" required data-msg="Please enter your username" value="{{u_v}}" class="input-material">
                      <label for="register-username" class="label-material">Username</label>
                    </div>
                    <div class="form-group-material">
                      <input id="email" type="email" name="email" required data-msg="Please enter a valid email address" value="{{e_v}}" class="input-material">
                      <label for="register-email" class="label-material">Email Address      </label>
                    </div>
                    <div class="form-group-material">
                      <input id="name" type="text" name="name" required data-msg="Please enter your name" value="{{n_v}}" class="input-material">
                      <label for="register-name" class="label-material">Name     </label>
                    </div>
                    <div class="form-group-material">
                      <input id="password" type="password" name="password" required data-msg="Please enter your password" value="{{p_v}}" class="input-material">
                      <label for="register-password" class="label-material">Password        </label>
                    </div>
                    <div class="form-group text-center">
                      <input id="register" type="submit" value="Register" class="btn btn-primary">
                    </div>
                  </form><small style="margin-left: 18%;">Already have an account? </small><a href="login.html" class="signup">Login</a>
                </div>
                <div class="copyrights text-center">
                  <p>ACM 2019</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/static/js/front.js"></script>
    <script type="text/javascript">
      var password_txt = document.getElementById('password');
      var name_txt = document.getElementById('name');
      var email_txt = document.getElementById('email');
      email_txt.onkeydown=function(ev){
          var oEvent=ev||event;
          if (oEvent.keyCode==32) {return false;}
          else{return true;}
      }
      name_txt.onkeydown=function(ev){
          var oEvent=ev||event;
          if (oEvent.keyCode==229||oEvent.keyCode==8||oEvent.keyCode==37||oEvent.keyCode==39) {return true;}
          else{return false;}
      }
      password_txt.onkeydown=function(ev){
          var oEvent=ev||event;
          if (oEvent.keyCode==32) {return false;}
          else{return true;}
      }
    </script>
  </body>
</html>